body {
  background: url(../img/photo.jpg);
}

#wrap {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  font: 12px arial, sans-serif;
}

#wrap h1.sample1 {
  border: 1px solid black;
  color: #f00;
  font-size: 100px;
  /* background-color: rgba(255, 0, 0, .3); */
  background-color: hsla(0, 100% , 50%, .3);
}

#wrap h1.sample2 {
  border: 1px solid black;
  color: #f00;
  font-size: 100px;
  background-color: blue;
  opacity: .4;
}