<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>email form</title>
  </head>

  <body>
    <form action="/email/form" method="POST">
      email: <input type="text" name="email" /><br />
      password: <input type="password" name="password" /><br />
    </form>

    <button class="login">login</button>
    <div class="result"></div>
    <script>
      document.querySelector(".login").addEventListener("click", () => {
        const email = document.getElementsByName("email")[0].value;
        const password = document.getElementsByName("password")[0].value;
        sendAjax("http://localhost:3000/email/ajax", { email, password });
      });

      function sendAjax(url, data) {
        let sendData = {
          email: data
        };
        const xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(sendData));
        xhr.addEventListener("load", () => {
          const result = JSON.parse(xhr.responseText);
          const resultDiv = document.querySelector(".result");
          if (result.result !== "ok")
            return (resultDiv.innerHTML = "your email is not found");
          else resultDiv.innerHTML = result.name;
        });
      }
    </script>
  </body>
</html>
