.hero_container {
  height: 660px;
}

.lead_more_btn {
  border-radius: 34px;
}

.card_container {
  width: 360px;
}

.middle_hero_container {
  height: 460px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card_container, .profile_container, .member_card_container {
    width: calc(50% - 16px);
  }

  .card_container > div > img, .member_card_container > img {
    width: 100%;
  }

  .card_container:nth-child(even), .profile_container:nth-child(even), .member_card_container {
    margin-left: auto;
  }

  .card_container:nth-child(2n + 3), .profile_container:nth-child(n + 3), .member_card_container:nth-child(n + 3), footer > div:nth-child(n + 4) {
    margin-top: 32px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .hero_container {
    height: 560px;
  }

  .middle_hero_container {
    height: 300px;
  }

  .card_container {
    width: 100%;
  }

  .member_card_container > img {
    width: 100%;
    height: auto;
  }

  .card_container:nth-child(n + 2), .profile_container:nth-child(n + 2), .member_card_container:nth-child(n + 2) {
    margin-top: 32px;
  }
}