.hero_container {
  height: 660px;
}

.lead_more_btn {
  border-radius: 34px;
}

.card_container {
  width: 360px;
}

.middle_hero_container {
  height: 460px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card_container {
    width: calc(50% - 16px);
  }

  .card_container > div > img {
    width: 100%;
  }

  .card_container:nth-child(even) {
    margin-left: auto;
  }

  .card_container:nth-child(2n + 3) {
    margin-top: 32px;
  }
}