body {
  font: 12px/1.5 'Trebuchet MS', sans-serif;
  color: #555;
}

#wrap {
  width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  #wrap {
    width: 1200px;
  }
}

@media screen and (max-width: 970px) {
  #wrap {
    width: auto;
  }
}

@media screen and (max-width: 970px) and (min-width: 481px) {
  body {
    background-color: yellow;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media screen and (orientation: portrait) {
  h1::after {
    content: ' portrait view';
    font-size: .8em;
    color: blue
  }
}

