extends ../base.pug

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(type="password", placeholder="Old Password", name="oldPassword")
    input(type="password", placeholder="New Password", name="newPassword")
    input(type="password", placeholder="New Password Confirmation", name="newPasswordConfirmation")
    input(type="submit", value="Change Password")