/* Put your code here */
/* 6-1 */
/* .grid {
  display: grid;
  grid: 150px 150px / 1fr 1fr 1fr;
  grid-gap: 10px;
}

.three {
  grid-row: 1;
  grid-column: 1 / span 2;
  background-color: rgba(0, 0, 80, 0.7);
}

.four {
  grid-row: 1;
  grid-column: 2 / span 2;
  background-color: rgba(80, 0, 0, 0.7);
} */

/*
6-2
.grid {
  display: grid;
  grid: 200px 200px / 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid img {
  width: 100%;
}

.subgrid {
  display: grid;
  grid: 50% 50% / 50% 50%;
  grid-gap: 5px;
}
*/

/*
6-3
.grid {
  display: grid;
  grid: 200px 200px / 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  position: relative;
}

.highlighter {
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  margin: 0; base.css 때문
  grid-row: 2;
  grid-column: 2 / span 2;
  background-color: rgba(200, 250, 50, 0.3);
}
*/

/*
6-4
.grid {
  display: grid;
  grid: 300px 300px / 1fr 1fr;
  grid-gap: 10px;
}

.item {
  position: relative;
}

.abs {
  position: absolute;
}

.tl {
  top: 0;
  left: 0;
}

.tr {
  top: 0;
  right: 0;
}

.bl {
  bottom: 0;
  left: 0;
}

.br {
  bottom: 0;
  right: 0;
}
*/

.grid {
  display: grid;
  grid: 100px auto 150px / repeat(8, 1fr);
  grid-template-areas:
    "h h h h  h h s s"
    "c c c c  c c s s"
    "f f f f  f f s s";
  min-height: 100vh;
}

.header {
  grid-area: h;
}

.content {
  grid-area: c;
}

.sidebar {
  grid-area: s;
}

.footer {
  grid-area: f;
}