@import 'styles/lib/utils';

.editor-header {
  background: $oc-blue-6;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;

  .submit {
    margin-left: auto;
  }
}