#wrap {
  width: 900px;
  margin: 0 auto;
}

#wrap::after {
  content: '';
  display: block;
  clear: both;
}

#wrap .filter {
  float: left;
  width: 300px;
  border: 2px solid;
  box-sizing: border-box;
}

#wrap .filter img {
  width: 100%;
  transition: all 1s;
  cursor: pointer;
}

#wrap .filter strong {
  display: block;
  padding: .3em .5em;
}

#wrap .filter.blur img:hover {
  filter: blur(5px);
}

#wrap .filter.brightness img:hover {
  filter: brightness(2);
}

#wrap .filter.contrast img:hover {
  filter: contrast(2);
}

#wrap .filter.drop-shadow img:hover {
  filter: drop-shadow(-30px 20px 0 rgba(0, 0, 0, .4));
}

#wrap .filter.grayscale img:hover {
  filter: grayscale(1);
}

#wrap .filter.hue-rotate img:hover {
  filter: hue-rotate(180deg);
}

#wrap .filter.invert img:hover {
  filter: invert(1);
}

#wrap .filter.opacity img:hover {
  filter: opacity(.4);
}

#wrap .filter.sepia img:hover {
  filter: sepia(1);
}
