.container {
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template: repeat(2, 100px) / repeat(3, 300px);
  grid-gap: 10px;
}

.container div {
  background: #acb3bf;
  color: #fff;
  padding: 12px 24px;
}

.container div:nth-child(1) {
  justify-self: center;
  align-self: center;
}

.container div:nth-child(2) {
  justify-self: end;
}

.container div:nth-child(3) {
  align-self: center;
}

.container div:nth-child(4) {
  justify-self: end;
  align-self: start;
}

.container div:nth-child(5) {
  justify-self: center;
  align-self: end;
}

.container div:nth-child(6) {
  justify-self: center;
}
