extends base.pug

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(name="username", type="text", placeholder="Username", required)
    input(name="password", type="password", placeholder="Password", required)
    input(type="submit", value="Login")
    br
    a(href="https://github.com/login/oauth/authorize?client_id=527b0fc728dd4cf7fa5a&allow_signup=false") Continue with GitHub &rarr;
  hr
  div
      span Don't have an account? 
      a(href='/join') Create one now &rarr;