extends base.pug

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(name="title" ,placeholder="Title", requried, type="text", maxLength=80)
    input(name="description" ,placeholder="Description", requried, type="text", minLength=20)
    input(name="hashtags" ,placeholder="Hashtags, separated by comma.", requried, type="text")
    input(value="Upload Video", type="submit")